XMLRepo/SMS/BDsmsSchema.xsd.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BDsms">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sms" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="telefono"/>
              <xs:element type="xs:string" name="fecha"/>
              <xs:element type="xs:string" name="hora"/>
              <xs:element type="xs:string" name="mensaje"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs1:attribute ref="xs:noNameSpaceSchemaLocation" xmlns:xs="http://www.w3org/2001/XMLSchema-instance" xmlns:xs1="http://www.w3.org/2001/XMLSchema"/>
    </xs:complexType>
  </xs:element>
</xs:schema>