XMLRepo/Biblioteca/Libreria .dtd

<?xml version='1.0' encoding='UTF-8'?>
<!ELEMENT lista_libros (libro)*>
<!ELEMENT libro (autores)*>
<!ELEMENT autores (autor|titulo|editorial|fecha_publicacion|ISBN)*>
<!ELEMENT autor (#PCDATA|apellido1|apellido2|nombre)*>
<!ELEMENT apellido1 (#PCDATA)>
<!ELEMENT apellido2 (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT fecha_publicacion (#PCDATA)>
<!ELEMENT ISBN (#PCDATA)>
